pandas
numpy
matplotlib
scikit-learn
sentence-transformers
umap-learn
hdbscan
bertopic
fasttext
nltk
vaderSentiment
nrclex
langdetect
torch
transformers
datasets
groq
scipy
gensim 
contractions
seaborn

